<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<title>Cap Breaker</title>
</head>
<body th:fragment="header">
	<div>
		<h1 class="text-center">
			<a href="/">CAP Breaker</a>
		</h1>
	</div>
	<div class="container">
		<ul class="nav nav-pills" id="menu">
			<li th:class="${module=='tasks'?'active':''}"><a
				th:href="@{/tasks}">Tasks queue</a></li>
			<li th:class="${module=='upload'?'active':''}"><a
				th:href="@{/upload}">Add task</a></li>
			<li th:class="${module=='result'?'active':''}"><a
				th:href="@{/result}">Get result</a></li>
		</ul>
	</div>
</body>
</html>