<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="${'/css/signin.css'}"/>
    <script type="text/javascript" th:src="${'/scripts/jquery.js'}"></script>
    <script type="text/javascript" th:src="${'/scripts/signup.js'}"></script>
</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>

    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <form class="form-signin form-horizontal text-center" th:action="@{/signup}" method="post">
        <h1 class="h3 mb=3 font-weight-normal">Please sign up</h1>
        <div class="form-group">
            <div class="col-md-12">
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username"/>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control input-lg"
                       placeholder="Password" autocomplete="off"/>
                <label for="passwordAgain" class="sr-only">Password</label>
                <input type="password" name="passwordAgain" id="passwordAgain" class="form-control input-lg"
                       placeholder="Password Again" autocomplete="off"/>
                <div th:if="${error}" class="login-failed" th:text="${error}"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button id="signUp" class="btn btn-lg btn-primary btn-block" disabled="disabled" type="submit">
                    Sign Up
                </button>
            </div>
        </div>

        <a class="small" id="signUpLink" th:href="@{/signin}">Already a member? click here to sign in!</a>
    </form>
</div>
</body>
</html>