<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="header-css">
    <link rel="stylesheet" type="text/css" th:href="${'/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${'/css/main.css'}"/>
    <title>Cap Breaker</title>
</head>
<body th:fragment="header">
<header>
    <!--/*@thymesVar id="module" type="java.lang.String"*/-->
    <!--/*@thymesVar id="agents" type="java.lang.String"*/-->
    <h1 class="text-center">
        <a href="/">CAP Breaker</a>
    </h1>
    <ul class="nav nav-pills" id="menu">
        <li th:class="${module=='tasks'?'active':''}">
            <a th:href="@{/tasks}">Tasks queue</a>
        </li>
        <li th:class="${module=='upload'?'active':''}">
            <a th:href="@{/upload}">Add task</a>
        </li>
        <li th:class="${module=='result'?'active':''}">
            <a th:href="@{/result}">Get result</a>
        </li>
        <li th:class="${module=='usersManagement'?'active':''}" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/users-management}">Users</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/user/download}">Download agent</a>
        </li>
        <li>
            <span class="navbar-text label label-primary" th:text="${agents}">Online agents: 0</span>
        </li>
        <li th:class="${module=='signin'?'pull-right active':'pull-right'}" sec:authorize="isAnonymous()">
            <a th:href="@{/signin}">Sign In</a>
        </li>
        <li th:class="${module=='signup'?'pull-right active':'pull-right'}" sec:authorize="isAnonymous()">
            <a th:href="@{/signup}">Sign Up</a>
        </li>
        <li class="pull-right" sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</header>
</body>
</html>