.form-signin {
	max-width: 340px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
	text-align: center;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input#username {
	margin-bottom: 10px;
}

.form-signin input#inputPassword {
	margin-bottom: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input {
	text-align: center;
}