.form-signin {
	max-width: 340px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-left: 2px;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input#username {
	margin-bottom: 10px;
}

.form-signin input#inputPassword {
	margin-bottom: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input {
	text-align: left;
}

.login-failed {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 2px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
		color: red;
}

.login-logout {
	margin-left: 2px;
	margin-bottom: 20px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: blue;
}