.file-label {
    width: 100%;
    height: 80px;
    line-height: 150%;
    background: transparent;
    border: 2px dotted #0B85A1;
    color: #aaa;
    white-space: normal;
    padding-top: 5%;
}

.drag-enter {
    border: 2px solid #0B85A1;
}

#add-task-form {
    vertical-align: middle;
    border: none;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    color: #bbb;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: auto;
    max-width: 610px;
    min-height: 300px;
    padding-top: 10px;
}

#cap-file {
    display: none;
}

.form-group .v-spacing {
    margin: 10px auto;
}

.results-highlight {
    color: #eee;
}

.new-task-message-container {
    vertical-align: middle;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.65);
    max-width: 610px;
}

.panel-body {
    padding: 16px;
    margin: auto;
}

#checkbox-terms {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

#terms {
    margin-top: 0;
    margin-bottom: 0;
}

#wpa-terms-div {
    margin-top: 10px;
}

.upload-failed {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

#added-task-form {
    vertical-align: middle;
    border: none;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    color: #bbb;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: auto;
    max-width: 610px;
    margin: auto;
    padding: 16px;
    text-align: center;
}