<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="${'/css/resultof.css'}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="fragments/header :: header"></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="h3 mb=3 font-weight-normal">Task's Result</h1>

            <div class="report" id="results">
                <div> Task id: <span class="results-spans" th:text="${task.id}">id</span></div>
                <div> ESSID: <span class="results-spans" th:text="${task.essid}">essid</span></div>
                <div> BSSID: <span class="results-spans" th:text="${task.bssid}">bssid</span></div>
                <div> Status: <span class="results-spans" th:text="${task.status}">status</span></div>
                <div th:if="${task.wifiPassword}!=''">
                    Password: <span id="password-span" th:text="${task.wifiPassword}">password</span>
                </div>
                <div th:if="${task.wifiPassword}==''">
                    Password: <span class="results-spans">Not Found</span>
                </div>
            </div>

            <a href="/result">
                <button class="btn btn-primary center-block">Back</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>