<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="${'/css/upload.css'}"/>
    <script type="text/javascript" th:src="${'/scripts/jquery.js'}"></script>
    <script type="text/javascript" th:src="${'/scripts/upload.js'}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>

    <form id="add-task-form" class="container" th:action="@{/upload}"
          method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="btn btn-default btn-file file-label" for="cap-file"><span
                    id="fname">Click to browse .cap file</span><input id="cap-file"
                                                                      name="capFile" type="file" accept=".cap"/></label>
        </div>
        <div class="form-group">
            <input class="form-control v-spacing" type="text"
                   placeholder="ESSID (Optional, case sensitive, leave blank for autodetect)"
                   name="essid" maxlength="36" size="32"/> <input
                class="form-control v-spacing" type="text"
                placeholder="BSSID (Optional, hexadecimal, leave blank for autodetect)"
                name="bssid" maxlength="17" size="32"/>
        </div>
        <div class="form-group">
            <div id="wpa-terms-div"
                 class="alert alert-dismissible alert-info left-justified text-center"
                 style="margin-top: 10px">
                <strong>This service is for penetration testing of your own
                    wireless networks only.</strong> <br/> Widely known, password brute
                forcing can also be used for illegal purposes. We request you not to
                use this service for cracking others passwords and we take no
                responsibility for that!

                <div class="checkbox" id="checkbox-terms">
                    <label> <input type="checkbox" id="terms"/>I agree with
                        CAP Breaker terms and conditions
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="upload-file-btn" class="btn btn-lg btn-primary btn-block"
                    disabled="disabled" type="submit">Upload
            </button>
        </div>
    </form>
</div>
</body>
</html>