<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="${'/css/upload.css'}"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>

    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <form id="added-task-form" class="container" th:action="@{/}">
        <div class="row">
            <p>Congratulations, your task was successfully uploaded to our server!</p>
        </div>
        <div class="row">
            <p>Your Task id is: <span class="text-warning" th:text="${task.id}">id</span></p>
            <p>Your Task Password is: <span class="text-warning" th:text="${task.taskPassword}">password</span></p>
        </div>
        <div class="row">
            <small class="results-highlight"> Please write down your task id and password since you will need it later
                to get access to your task!
            </small>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit">Finish</button>
        </div>
    </form>
</div>
</body>
</html>