<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="../css/upload.css"/>
</head>
<body class="container">
<div th:replace="fragments/header :: header"></div>
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<form th:if="${error}!=null" class="new-task-message-container panel-body text-center" th:action="@{/upload}">
    <div class="alert alert-danger fade in alert-dismissable text-center" th:text="${error}">error</div>
    <div class="row">
        <button class="btn btn-primary" type="submit">Back</button>
    </div>
</form>
<form th:if="${error}==null" class="panel-body text-center" th:action="@{/}">
    <div class="row">
        <p>Congratulations, your task was successfully uploaded to our server!</p>
    </div>
    <div class="row">
        <p>Your Task id is: <span class="text-warning" th:text="${task.id}">id</span>
            <br/> Your Task Password is:
            <span class="text-warning" th:text="${task.taskPassword}">password</span>
            <br/>
        </p>
    </div>
    <div class="row">
        <small class="results-highlight"> Please write down your task id and password since you will need it later to
            get access to your task!
        </small>
    </div>
    <div class="row">
        <button class="btn btn-primary" type="submit">Finish</button>
    </div>
</form>
</body>
</html>