<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="fragments/header :: header-css" />
<link rel="stylesheet" href="/css/result.css" />
</head>
<body class="container">
	<div th:replace="fragments/header :: header"></div>

	<form id="get-resultof-form" class="form-signin form-horizontal"
		role="form" th:if="${task}==null" th:action="@{/result}"
		data-toggle="validator">
		<div class="alert alert-danger fade in alert-dismissable text-center">Task
			ID or Password is incorrect</div>
		<div>
			<button id="finish-upload-btn" class="btn btn-primary" type="submit">Back</button>
		</div>
	</form>

	<form id="get-resultof-form" class="form-signin form-horizontal"
		role="form" th:if="${task}!=null" th:action="@{/tasks}"
		data-toggle="validator">
		<div class="report" id="results">
			Task ID: <span class="results-spans" id="essid-span"
				th:text="${task.id}">id</span><br /> ESSID: <span
				class="results-spans" id="essid-span" th:text="${task.essid}">essid</span><br />
			BSSID: <span class="results-spans" id="bssid-span"
				th:text="${task.bssid}">bssid</span><br /> Status: <span
				class="results-spans" id="status-span" th:text="${task.status}">status</span><br />
			<div th:if="${task.wifiPassword}!=null">
				Password: <span id="password-span" th:text="${task.wifiPassword}">password</span>
			</div>
			<div th:if="${task.wifiPassword}==null">
				Password: <span class="results-spans" id="status-span">Not
					Found</span><br />
			</div>
		</div>
		<br />
		<div align="center">
			<button id="finish-upload-btn" class="btn btn-primary" type="submit">Back</button>
		</div>
	</form>
</body>
</html>